.best {
    color: red;
}

.li-all {
    padding: 2px 10px;
}

.li-even {
    background-color: #d6d6d6;
}

.separate-box {
    margin-top: 10px;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-1 {
    flex-grow: 1;
}

.flex-3 {
    flex-grow: 3;
}

.btn {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.data-value {
    margin: 0;
    word-wrap: break-word;
}

#population-container {
    max-height: 400px;
    overflow-y: scroll;
    border: 2px solid #2e6da4;
    border-radius: 2px;
    padding: 5px 0;
}

#population-container > ul {
    list-style: none;
    padding-left: 0;
}